#containerTablelonely{
    display: flex;
    justify-content: center;
}
table tr{
    height:4em;
}
table tr td{
    padding:1em;
}
table tr:nth-of-type(odd){
    background:rgb(219, 219, 219);
}

@media(max-width:389px){
    table tr{
        height:4em;
        
    }
    table tr td{
        padding:0.4em;
        width:3rem
    }
}
